<template>
  <main class="container">
    <div>
      <h1>Revue</h1>
    </div>
    <h1 style="text-align: center; margin-bottom: 3rem">ReVue</h1>
    <h2>Logga in</h2>
    <template v-if="confirmNewUser">
      <p>Det första gången du loggar in, vill du skapa kontot?</p>
      <Button type="button" @click="confirm">Ja</Button>
    </template>
    <form @submit.prevent="register" v-else>
      <Input label="Din mail" v-model="email" name="email" />
      <span class="error">{{ emailError }}</span>
      <Input
        v-if="!showReset"
        label="Ditt lösenord"
        v-model="password"
        type="password"
        name="password"
      />
      <p class="error">
        {{ localError }}
      </p>
      <Button v-if="showReset" @click="doReset">Återställ lösenord</Button>
      <Button v-if="!showReset" type="submit" :disabled="loading">{{
        loading ? "Laddar..." : "Skicka"
      }}</Button>
      <a
        @click.prevent="showReset = !showReset"
        href="#"
        style="margin-left: 16px"
        >{{ showReset ? "Tillbaka till logga in" : "Glömt lösenordet?" }}</a
      >
    </form>
  </main>
</template>

<script setup lang="ts">
import { ref } from "vue";
import {
  getAuth,
  createUserWithEmailAndPassword,
  signInWithEmailAndPassword,
  sendPasswordResetEmail,
} from "firebase/auth";
import Input from "./ui/ReInput.vue";
import Button from "./ui/ReButton.vue"; // import router
import { useField } from "vee-validate";
import { useStore } from "../store";

const confirmNewUser = ref(false);
const loading = ref(false);

const { errorMessage: emailError, value: email } = useField<string>("email");
const password = ref("");
const localError = ref("");
const showReset = ref(false);

const register = () => {
  const auth = getAuth();
  loading.value = true;
  signInWithEmailAndPassword(auth, email.value, password.value).catch(
    (error) => {
      loading.value = false;
      console.log(error); //eslint-disable-line
      if (error.code.includes("auth/user-not-found")) {
        confirmNewUser.value = true;
      } else if (error.code.includes("auth/wrong-password")) {
        localError.value = "Felaktigt användarnamn eller lösenord";
        // showReset.value = true;
      } else {
        localError.value = "Felaktigt användarnamn eller lösenord";
      }
    }
  );
};
const confirm = () => {
  const auth = getAuth();
  createUserWithEmailAndPassword(auth, email.value, password.value).catch(
    (error) => {
      useStore().showError("Skapandet av konto misslyckades");
      console.log("error", error); //eslint-disable-line
    }
  );
};
const doReset = () => {
  const auth = getAuth();
  sendPasswordResetEmail(auth, email.value);
  localError.value =
    "Återställningslänken skickas till din email (landar troligtvis i skräpposten)!";
};
</script>
<style>
/* .main {
  margin-top: -50px;
}
.center {
  display: flex;
  justify-content: center;
}
form > * {
  margin-top: 1rem;
} */
</style>
