<template>
  <!-- <template v-if="isBooting"
    >Appen är nere för underhåll och borde vara uppe igen 9:05</template
  > -->
  <template v-if="isLoggedIn">
    <nav class="container-fluid">
      <ul>
        <li><router-link to="/">Hem</router-link></li>
        <!-- <li><router-link to="/schema">Schema</router-link></li> -->
        <!-- <li><router-link to="/hela-schemat">Hela Schemat</router-link></li> -->

        <router-link v-if="store.isAdmin" to="/module">
          Skapa modul
        </router-link>
      </ul>
      <div>
        <ReButton @click="signOuta" color="ternary">Logga ut</ReButton>
        <!-- <div id="avatar" @click="signOuta">{{getInitials}}</div> -->
      </div>
    </nav>

    <main>
      <router-view />
    </main>
  </template>
  <div v-else-if="!isBooting">
    <Register />
  </div>
  <!-- {{ store.thx }} -->
  <div class="error-box" v-if="store.error">
    {{ store.error }}
  </div>
  <!--
  <div class="thx-box" v-if="store.thx">
    {{ store.thx }}
  </div> -->
</template>
<script setup lang="ts">
import { ref } from "vue"; // used for conditional rendering
import { getAuth, onAuthStateChanged, signOut } from "firebase/auth";

import { useRouter } from "vue-router";
import { useStore } from "./store";
import Register from "./components/ReRegister.vue";
import ReButton from "./components/ui/ReButton.vue";

const store = useStore();
useRouter();
const isLoggedIn = ref(false);
const isBooting = ref(true);

const auth = getAuth();

// runs after firebase is initialized
onAuthStateChanged(auth, async (user) => {
  if (user) {
    await store.init(user);
    isLoggedIn.value = true;
  } else {
    isLoggedIn.value = false;
  }
  isBooting.value = false;
});
const signOuta = () => {
  signOut(auth);
};
</script>
<style>
.error-box {
  background-color: #ff2222;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  position: fixed;
  top: 3rem;
  right: 3rem;
}
</style>
